<div class="card-container">
  <div class="card-title">
    <div style="flex: 1">
      <h3>{{ team?.long_name }}</h3>
      <p> {{ team?.conference | conference }} conference </p>

    </div>
  </div>

  <hr />

  <div class="card-body">
    <p>
      Scores of past 12 days:
    </p>
    <div>
      <app-game-score *ngFor="let game of team?.games" [game]="game"></app-game-score>
    </div>

  </div>
  <div class="card-footer">
    <button [routerLink]="['/']" id="backBtn" class="back-btn">
      < < Back to all team stats
    </button>
  </div>
</div>
