.flex-1 {
  flex: 1;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 5px;
  padding: 10px;
}

.card-title {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.remove-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 2px solid gray;
  width: 100%;
  border-radius: 5px;
}

.remove-btn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
