<div class="card-body">
  <div class="card-body-text">
      <p>
        Results of past 12 <br />
        days:
      </p>
      <div class="card-body-results">
        <app-game-result-icon *ngFor="let game of team?.games" [game]="game" [id]="team?.id" >
        </app-game-result-icon>
      </div>
      <div>
        Avg pts scored: <strong> {{ team?.avg_pts_scored }} </strong>
      </div>
      <div>
        Avg pts conceded: <strong> {{ team?.avg_pts_conceded }} </strong>
      </div>
  </div>
  <div>
    <img src="{{ 'https://interstate21.com/nba-logos/' + team?.abbreviation + '.png' }}" height="150px" width="150px" class="card-img" />
  </div>
</div>
<div class="card-footer">
  <button [routerLink]="['results', team?.id]" id="{{'results' + team?.abbreviation}}" class="results-btn">
    See game results > >
  </button>
</div>
