.card-body {
  display: flex;
  flex-direction: row;
}

.card-body-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body-results {
  display: flex;
  flex-direction: row;
}

.card-img {
  margin: 10px;
}

.results-btn {
  background-color: green;
  color: #fff;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.card-footer {
  padding: 10px 0px;
}
